html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevennt] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Funnel Sans", sans-serif;
    background-color: black;
    color: #afafaf;
    font-weight: 600;
    overflow-x: hidden;
    margin: auto;
}

.masked {
    mask-image: url('/mask.svg');
    background: #5e17eb;
    mask-repeat: no-repeat;
    mask-size: 40px;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    mix-blend-mode: difference;
    pointer-events: none;
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
}

.masked * {
    pointer-events: auto;
}

.size-hover {
    width: inherit;
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    padding: 50px 60px;  
    mix-blend-mode: difference;
    pointer-events: auto;
    z-index: 1000;
}

.navbar ul {
    z-index: 1000;
    list-style: none;
    text-align: end;
}

.navbar ul li a {
    z-index: 1000;
    text-decoration: none;
    color: #afafaf;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.social-media {
    padding: 50px 60px 10px 60px;
    line-height: 70px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    mix-blend-mode: difference;
}

.social-media ul {
    list-style: none;
}

.social-media svg {
    stroke: #afafaf;
    fill: transparent;
    width: 35px;
    height: 35px;
}

.main {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
}

h1 {
    font-size: 7rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1700px) {
    h1 {
        font-size: 6rem;
    }
}

@media (max-width: 1320px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 970px) {
    h1 {
        font-size: 3.2rem;
    }
}

.main-about, .masked-about {
    position: relative;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    width: 1150px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-about .about-desc {
    mix-blend-mode: difference; 
}

.masked-about .about-desc {
    mix-blend-mode: hue;
}

.main-about p,.masked-about p {
    text-indent: 7rem;
    font-size: 3rem;
}

.masked-about .about-desc-span {
    color: black;
}

.masked-about #about-subtitle svg, #about-subtitle {
    mix-blend-mode: hue;
    stroke: black;
}

.about-desc-span {
    margin: 3rem;
    color: #5e17eb;
    mix-blend-mode: difference;
}

.line-container {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    width: 100%;
}

.line-container svg {
    stroke: #afafaf;
    width: 100%;
    height: auto;
    mix-blend-mode: difference;
}

.straight-line-container {
    margin-left: 3rem;
    display: inline-block;
    vertical-align: middle;
  }
  
.straight-line-container svg {
    stroke: #afafaf;
    width: 100%;
    display: block;
    height: auto;
    mix-blend-mode: difference;
}

#simplicity-text {
    margin-left: 0;
    margin-right: 0;
}

#first-paragraph {
    position: relative;
}

.line-main-container {
    text-indent: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
}

#second-paragraph {
    text-indent: 9rem;
}

#about-subtitle {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.profile {
    mix-blend-mode: difference;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    z-index: -1;
}

.profile img {
    width: 400px;
    height: auto;
}

@media (max-width: 1700px) {
    .masked-about, .main-about {
        width: 1000px;
    }

    .masked-about p, .main-about p{
        font-size: 2.5rem;
    }

    .about-desc-span {
        margin: 1.5rem;
    }

    .about-desc {
        gap: 45px;
    }

    .profile img {
        width: 315px;
    }
}

@media (max-width: 1320px) {
    .straight-line-container {
        margin-left: 2rem;
    }

    .straight-line-container svg {
        height: 4px;
    }

    .masked-about, .main-about {
        width: 660px;
    }

    .masked-about p, .main-about p{
        font-size: 1.8rem;
    }

    .about-desc {
        gap: 25px;
    }

    .about-desc-span {
        margin: 1rem;
    }
    
    .main-about p,.masked-about p {
        text-indent: 3rem;
    }

    #second-paragraph {
        text-indent: 5rem;
    }

    .profile img {
        width: 265px;
    }
}

@media (max-width: 970px) {
    .masked-about, .main-about {
        width: 530px;
    }

    .masked-about p, .main-about p{
        font-size: 1.4rem;
        text-indent: 2rem;
    }

    .about-desc {
        gap: 20px;
    }

    .about-desc-span {
        margin: 1rem;
    }

    .straight-line-container {
        margin-left: 1rem;
    }

    .straight-line-container svg {
        height: 3px;
    }

    #second-paragraph {
        text-indent: 4rem;
    }

    .profile img {
        width: 215px;
    }
}
